ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
ROPSTEN_URL=https://eth-ropsten.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
METIS_PRIVATE_KEY=YOUR_METIS_CONTRACT_OWNER_PRIVATE_KEY
METIS_URL=https://stardust.metis.io/?owner=588